// START header
.app-view-header.mt0
// END header
// START products content
div
    .panel.panel-default.no-shadow
        .panel-body.pb-sm.pl-sm.pr-sm(style="margin-top: 10%;")
            i.fa.fa-meh-o.item-icon.text-65.block.text-center.m-auto.mb0.mt0.text-gray-dark
            h1.text-30.text-center.text-bold.pt45.text-gray-dark.block.mb0 A&#250;n no est&#225;s afiliado al servicio de Cash Out
            p.text-30.text-center.text-gray-dark.mt18.mb0 Para contratar el servicio, comun&#237;cate al tel&#233;fono: (+502) 2268-7677