//   Created by ByronChang on 10/10/2016.

div

    .modal-header.b0

    .modal-body.text-center.pt0.altert_cashout
        em.fa.fa-exclamation-circle.text-lg.text-danger

        h3.text-21.text-bold Error de conexión

        .row.loginErrMsg.text-center
            i(aria-hidden="true").fa.fa-refresh.fa-spin.fa-3x.fa-fw
            p.text-18.text-medium Intentando volver a conectar.
        .row &nbsp;
        .row &nbsp;
        .row &nbsp;